@keyframes pop {
    0% { transform: scale(0); }
    65% { transform: scale(1.01); }
    100% { transform: scale(1); }
}

.card {
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    
    &.todo {
        animation: pop 0.5s ease-in-out;
    }
}
